<div class="flex center-center full-height ">

    <!-- side right -->
    <div class="main-container full-height  ">
        <!-- header -->
        <div>
            <h1 id="example1">
                About
            </h1>
            <h3 class="top">About</h3>
        </div>
        <!-- Main -->
        <div class="main-container flex">
            <div class="right-side">
                <img src="../../../../assets/images/color-image.avif" alt="image">
            </div>

            <!-- leftside -->
            <div class="left-side flex center-center">
                <div class="">
                    <h3 class="color-t">Who am I</h3>
                    <h2>
                        I'm Phindile Zwane a Web developer
                    </h2>

                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Id harum, iste perspiciatis, tempora
                        consectetur hic nostrum ea omnis minus debitis quo. Nisi accusamus quas eius cum, necessitatibus
                        deserunt veritatis! Qui maxime voluptas accusamus? Necessitatibus, nisi. Voluptates enim aperiam
                        repellendus adipisci illo rerum expedita omnis fugit itaque non. Assumenda, eius quasi.
                        Assumenda
                        sapiente reiciendis eius repellat?</p>
                    <hr>
                    <div class="flex ">
                        <div class="m-r-1em">
                            <p> Name: Phindile Tryphina Zwane </p>
                            <p>Age: 27</p>
                        </div>
                        <div>
                            <p> Location: Evaton, Gauteng RSA</p>
                            <p>Email: pzwane124@gmail.com</p>
                        </div>
                    </div>
                    <a href="../../../../assets/documents/PHINDILE TRYPHINA ZWANE bry technical.pdf"><button
                            mat-raised-button color="primary">Download CV</button></a>
                </div>
            </div>
        </div>
    </div>
</div>