<div class="main-container flex full-width full-height">
  <div class=" half-width flex right-container center-center ">
    
    <div class="second flex center-center column">
     <h3>Hello there! <br>
     <h2>I am a Developer</h2>I make life easy. By solving everything with technology
     </h3>
     <button mat-raised-button color="primary" routerLink="/main/contact">Contact Me</button>
    </div>
    <p class="down">
      Email: pzwane124@gmail.com | Phone: 0679445282 | Location: Evaton
    </p>
  </div>

  <!-- image side -->
  <div class="half-width img-container center-center flex">
    <img src="../../../../assets/images/black-image.avif" alt="image">
  </div>
</div>