<div>
<div class="flex position">
    <h1 id="example1">
        Contact
    </h1>
    <h3 class="top">Contact</h3>
</div>

<!-- social icon -->
<div>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Social Media
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex column gap-1em">

            <!-- linkin -->
            <button mat-button class="small-width">
                <!-- <a href="www.linkedin.com/in/phindile-tryphina-zwane-b580aa24a"></a> -->
                <img class="icon-width" src="../../../../assets/images/linkedin_1384088.png" alt="LinkedIn">
            </button>
               
            <!-- instagram -->
            <button mat-button class="small-width">
                <img class="icon-width" src="../../../../assets/images/instagram_2111463.png" alt="Instagram">
            </button>
        </div>
    </mat-expansion-panel>
</div>

<!-- Form -->
<div class="flex center-center">
    <form [formGroup]="signUpForm">
        <h1 class="text-center">Get in touch</h1>
        <h4> <i>Get in touch with me and I will get back to you as soon as possible</i></h4>

        <div class="flex gap-1em">
            <!-- First Name -->
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="Name" placeholder="Enter your Name">
                <mat-error *ngIf="signUpForm.get('Name')?.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signUpForm.get('Name')?.hasError('minlength')">
                    Name should at least have 3 charectors
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex gap-1em">
            <!-- Email -->
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input class="example-full-width" type="email" matInput formControlName="email"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signUpForm.get('email')?.hasError('pattern')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex gap-1em">
            <!-- Cellphone -->
            <mat-form-field class="full-width">
                <mat-label>Cell Number</mat-label>
                <input type="text" matInput formControlName="cellNumber" placeholder="Enter your Cell Number">
                <mat-error *ngIf="signUpForm.get('cellNumber')?.hasError('required')">
                    Cell Number is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="signUpForm.get('cellNumber')?.hasError('minlength')">
                    Cell Number should at least have 10 charactors
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex gap-1em">
            <!-- Text area -->
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Message</mat-label>
                    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">

                    <mat-hint>{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
            </form>
        </div>
        
        <div class="flex gap-1em end-center m-b-1em">
            <button mat-raised-button color="warn" type="button" class="btn"
                (click)="signUpForm.reset()">Cancel</button>
            <button mat-raised-button color="primary" type="button" class="btn" (click)="submit()">Submit</button>
        </div>
    </form>
</div>
</div>




